.dragging {
    .gate {
        z-index: 99999;
    }
}
.inline-latex-container, .inline-latex {
    vertical-align: middle;
    display: inline-block;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
        clip-path: inset(0.6px)
    }
}