._hdd {
    transition-duration: 0.1s;
    transition-delay: 0.05s;
    opacity: 1;
}
.dragging {
    .gate {
        z-index: 99999;
    }
    ._hdd {
        opacity: 0;
    }
}
.inline-latex-container, .inline-latex {
    vertical-align: middle;
    display: inline-block;
}
textarea {
    line-height: 1.25 !important;
}
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
        clip-path: inset(0.6px)
    }
}